@import "../globals/colors";
@import "../globals/typography";

.pProjects {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  overflow: "hidden";

  .slick-slider {
    width: 100%;

    .slick-track {
      width: 999999999px;
    }
  }
}
