@import "../globals/colors";
@import "../globals/typography";

.pProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  width: 100%;
  
  background-color: rgba(255, 255, 0, 0.137);
}
